# Virtual environment
venv/

# Model files (DO NOT upload)
*.pkl
*.pkl.gz

# Datasets (DO NOT upload)
*.csv

# Jupyter internal files only
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment / secrets
.env
